---
import Layout from '../../layouts/Layout.astro';
import { getLatestLaunches, getOldestLaunches, getLaunchById } from '../../services/spacex';

const { id } = Astro.params;

let launch;
if (id) {
  launch = await getLaunchById({ id });
}

export async function getStaticPaths() {
  
  const latest = await getLatestLaunches();
  const oldest = await getOldestLaunches();

  // Unimos y eliminamos duplicados por id
  const all = [...latest, ...oldest];
  const launches = Array.from(new Map(all.map(l => [l.id, l])).values());

  return launches.map(launch => ({ params: { id: launch.id } }));
}
--- 
<Layout title={`Lanzamiento ${id}`}>
  <article class=" rounded-lg border shadow-md bg-gray-800 border-gray-700
  hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition
  flex flex-col items-center p-8 gap-4 max-w-xl mx-auto my-8">
    <img 
      class="w-52 h-auto" 
      src={launch?.links?.patch.small} 
      
    />
    <h2 class="text-4xl text-white font-bold">Launch #{launch?.flight_number}</h2>
    <p class="text-lg ">{launch?.details || "No details available."}</p>
  </article>
</Layout>
